body {
	font-family: Century Gothic;
	background-image: url(https://img.freepik.com/foto-gratis/lindo-perrito-pomerania-estetoscopio-como-veterinario-azul_63176-726.jpg?size=626&ext=jpg);

}
.color1{
	background-color: #F033FF ;
}
.Pagina-siguiente{
	background-color: #FF338D ;
}
.color2{
	background-color: #33FFC4;
}
	

.color3{
	background-color: #33FFC4;
}
